@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .3s linear all ease-in-out;
    font-family: 'Roboto Condensed', sans-serif;
}
.box{
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 5px 10px 18px red;
    border-radius: .5rem;
}
label{
    font-size: 1.1rem;
}
input{
    display: block;
    width: 100%;
    border: .1rem solid #000;
    border-radius: .2rem;
    margin-top: .5rem;
    padding: .3rem;
    outline: none;
}
input[type = "submit"]{
    /* margin: auto; */
    width: 10%;
    border: .1rem solid #55efc4;
    color: #55efc4;
    background: transparent;
    padding: .4rem;
    transition: .3s linear all ease;
}
input[type = "submit"]:hover{
    cursor: pointer;
    background: #55efc4;
    color: #fff;
    transition: .3s linear all ease;
}
.flex{
    display: flex;
    align-items: center;
}
input[type = "button" ]{
    width: 10%;
    border: .1rem solid #2d3436;
    color: #2d3436;
    background: transparent;
    padding: .4rem;
    transition: .3s linear all ease;
    margin-right: .3rem;
}
input[type = "button"]:hover{
    cursor: pointer;
    background: #2d3436;
    color: #fff;
    transition: .3s linear all ease;
}
input:focus{
    border: .1rem solid #55efc4;
    color: #55efc4;
}